html, body {
    background-color: black;
}

.main-container {
    border: 2px solid green;
    display: grid;
    justify-content: center;
    height: 100vh;
}

.white1 {
    background-color: white;
    align-items: flex-start;
    width: 5rem;
    height: 3rem;
}

.img-container {
    display: flex;
    align-items: center;
}