html, body {
    background-color: white;
    display: flex;
}

@font-face {
    font-family: cheltenham;
    src: url(cheltenham.otf);
}

@font-face {
    font-family: frankling;
    src: url(fgreg.ttf);
}

.main-container {
    border: 2px solid;
    display: flex;
    height: 100vh;
}

.black-container {
    background-color: black;
    display: flex;
    float: left;
    flex-wrap: wrap;
    color: white;
    max-height: 100vh;
    width: 50vw;
}

.white-container {
    background-color: white;
    display: flex;
    float: right;
    flex-wrap: wrap;
    color: black;
    max-height: 100vh;
    width: 50vw;
}

.image {
    position: absolute;
    display: flex;
    width: 100vw;
    align-self: center;
    justify-content: center;
    z-index: 3;
}



