@font-face {
    font-family: cheltenham;
    src: url(cheltenham.otf);
}

@font-face {
    font-family: frankling;
    src: url(fgreg.ttf);
}

body {
    min-height: 100%;
}

.main-container{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    }

.white-container{
    background-color: white;
    display: grid;
    float: left;
    flex-wrap: wrap;
    grid-template-rows: 30px auto 150px;
    color: black;
    height: 100vh;
    width: 50%;
}

.black-container{
    background-color: black;
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: 30px auto 150px;
    color: white;
    height: 100vh;
    width: 50%;
}

.title1 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    font-family: frankling;
    padding: 0.5rem;
    font-size: 1.4vw;
    margin: 1rem;
}

.title2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: cheltenham;
    font-size: 1.3vw;
    padding: 0.5rem;
    margin: 1rem;
}

.text1 {
    display: flex;
    align-self: center;
    font-family: cheltenham;
    font-size: 16px;
    line-height: 24px; 
    word-spacing: 6px;
    margin: 6rem 6rem 2rem 6rem;
}

.text2 {
    display: flex;
    align-self: center;
    font-family: frankling;
    font-size: 18px;
    line-height: 24px;
    word-spacing: 6px; 
    margin: 6rem 6rem 2rem 6rem; 
}

.l-button {
    display: flex;
    justify-content: center;
}

.r-button {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

@media (max-width: 600px) {
	.main-container {
		display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: center;
        }


    .white-container{
        display: flex;
        min-height: 100vh;
        width: 100%;
        justify-content: center;
    }

    .black-container {
        display: flex;
        min-height: 100vh;
        width: 100%;
        justify-content: center;
    }

    .title1 {
        display: flex;
        align-self: center;
        font-size: 14px;
    }

    .title2 {
        display: flex;
        align-self: center;
        font-size: 12px;
    }

    .text1 {
        font-size: 12px;
        word-spacing: 3px;
        line-height: 21px;
        align-self: center;
        margin: -3rem 3rem 2rem 3rem;
    }

    .text2 {
        font-size: 14px;
        word-spacing: 3px;
        line-height: 21px;
        margin: -3rem 3rem 2rem 3rem;
    }

    .l-button img {
        width: 20px;
    }

    .l-button {
        margin: 1rem;
    }

    .r-button img {
        width: 20px;
    }

    .r-button {
    }

}

.slide-in {
    animation: slide-in 0.5s ease forwards;
}


